body
{
	background-color:#ef7806;	
	background-image:url('img/bg5.png');
}

.white
{
	background-color:#ffffff;	
}
.font-white
{
	color:#ffffff;
}

.blue
{
	background-color:#D19DEB;	
}

.margin
{
	margin: 15px;
	
}

h1
{
font-size: 8.0em;
color:#ffffff;
text-decoration:none;
	
}
h1, h2, h3, h4
{
	font-family: 'Arbutus Slab', serif;
}


h1
{
	margin-bottom:0.00em;
}

h2
{
	margin-bottom:0.00em;
}


h3
{
	margin-bottom:0.50em;
}

.content
{
	background-color:#ffffff;	
	padding:10px;
	
}

.mainmenu-item
{
		
	margin-top:4.5em;

}
.mainmenu-item a
{

	color:#ffffff;
	text-decoration:none;
	font-family: 'Arbutus Slab', serif;
	font-size:2.0em;
}

a
{
	text-decoration:none;
}

.center
{
	text-align:center;
}

.project
{
	float:left;
	margin-right: 15px;
	width:218px;
}

.projectlast
{
	margin-right: 0;
}

body 
{
	margin-bottom:30px;
}

li
{
	font-weight: bold;
}


/*
	Slideshow
*/

#slides {

	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:920px;
	overflow:hidden;
	position:relative;
	display:none;
	margin-left:15px;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:920px;
	height:270px;
	display:block;
}


/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.3);
	width:920px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	text-shadow:none;
}

.right
{
	float:right;
	clear:none;
}

.right
{
	float:left;
	clear:none;
}

